main {
display: flex;
flex-direction: column;
margin: 100px;
margin-top: 200px;
}
div.cart_in_main {
  order: 1;
  margin-top: 80px;
      display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: linear-gradient(to left, #fcc490, #fcd981);
}
div.nav {
background-color: #222222;
height: 100px;
}
h1 {
 margin: 0px;
font-size: 30px;
  padding: 30px;
  padding-left: 70px;
  line-height: 26px;
  font-style: regular;
  font-family: Verdana;
  color: #FFFFFF;
}
a {
  text-decoration: none;
}
span.one {
  color: #FF7417;
}
span.two {
  color: #FFFFFF;
  font-family: Georgia, fantasy;
  font-size: 15px;
}
button.product_name {
  box-shadow: inset 0 3px 5px;
  border: 0px;
  padding: 15px;
  font-family: Arial;
  font-size: 15px;
  color: #343842;
  margin: 30px;
  cursor: pointer;
}
button.price {
  box-shadow: inset 0 3px 5px;
  border: 0px;
  margin: 30px;
  padding: 15px;
  font-family: Arial;
  font-size: 15px;
  color: #343842;
  cursor: pointer;
}
div.products button {
  box-shadow: inset 0 3px 5px;
  border: 0px;
  padding: 15px;
  font-family: Arial;
  font-size: 15px;
  color: #343842;
  cursor: pointer;
}
 div p {
  font-family: Pacific, fantasy;
  color: #343842;
  background-color: #FFFFFF;
}
div.products {
  display: flex;
  flex-wrap: wrap;
  row-gap: 150px;
  column-gap: 20px;
  justify-content: space-between;
}
footer {
  background-color: #222222;
  margin: 0px;
  line-height: 7px;
  font-size: 15px;
  color: #FF7417;
  padding: 6px;
  padding-left: 20px;
  font-family: Geneva;
  position: fixed;
width: 300px;
  top: 300px;
right: 5px;
opacity: 50%;
}
button.visibility {
  color: #f07a0c;
  border-radius: 65px;
  padding: 5px 16px;
  background: #565e73;
  border:0px;
  box-shadow: inset 0 1px 3px;
  cursor: pointer;
}
@media (max-width: 763px){
.product {
  flex: 1 25%;
}
}
div.cart {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: linear-gradient(to left, #fcc490, #fcd981);
}
h1.cart_h1 {
text-align: center;
margin: 30px;
margin-bottom: 50px;
font-size: 50px;
color: #302d24;
}
p.empty {
  font-style: Arial;
  padding: 0px;
  text-align: center;
  margin: 100px;
  background-image: linear-gradient(to left, #fcc490, #fcd981);
  font-size: 40px;
}
h5.total {
  margin: 30px;
  font-size: 40px;
text-align: center;
}
body.cart_body {
  background-image: linear-gradient(to left, #fcc490, #fcd981);
}
button.checkout {
  padding: 10px;
  margin: 100px;
  color: #302d24;
  border-radius: 65px;
  background: #f28a4e;
  border:0px;
  box-shadow: inset 0 1px 3px;
  font-size: 30px;
  cursor: pointer;
}
button.gadget {
  padding: 10px;
  margin: 30px;
  color: #302d24;
  border-radius: 65px;
  background: #f2da5e;
  border:0px;
  box-shadow: inset 0 1px 3px;
  font-size: 30px;
  cursor: pointer;
}
h1.thank {
  text-align: center;
margin: 30px;
margin-bottom: 50px;
font-size: 50px;
color: #302d24;
}
.checkout {
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: linear-gradient(to left, #fcc490, #fcd981);
}
.cart-title {
text-align: center;
margin-top: 40px;
margin-bottom: 50px;
font-size: 50px;
color: #302d24;
}
article p {
  font-style: Arial;
  font-size: 25px;
}
title {
  display: contents;
}
article {
  border-radius: 8px;
  border: 8px;
  margin: 10px;
  border-color: #f7ecb5;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #FFFFFF;
  justify-content: space-between;
  align-items: center;
}
article button {
  color: #302d24;
  border-radius: 65px;
  background: #f77665;
  border:0px;
  box-shadow: inset 0 1px 3px;
  font-size: 25px;
  cursor: pointer;
}

